<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proyecto Integrador - Contacto</title>
</head>

<body>

  <header class="main-header">
    <input type="checkbox" id="menu">

    <nav class="nav-bar"> <!-- nav-bar -->
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="alta.html" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li>
      </ul>
    </nav> <!-- nav-bar -->
  </header>

  <main>
    <section class="contact-header-section">
      <header>
        <h1>Reciba el servicio completo de EMBERTECHNEWS con tan solo unos clics</h1>
        <h2>Contactenos</h2>
      </header>
    </section>

    <section class="contact-section">
      <div class="contact-section__form-container">
        <form action="" class="contact-form">
          <input type="text" placeholder="Nombre">
          <input type="email" placeholder="Email">
          <textarea name="" cols="30" rows="10" placeholder="Comentarios"></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>
      <div class="contact-section__info-container">
        <h3>Dirección: Calle irreal plana. Colonia Inmaterial</h3>
        <h3>Telefono: +52 614 5 78 96 12</h3>
        <h3>Email: contact@embertechnews.com</h3>
      </div>
    </section>
  </main>

  <footer class="contact-footer">
    <h2>EMBERTECHNEWS ® 2023</h2>
  </footer>
  <script type="module" src="/main.js"></script>
</body>

</html>