@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Prata&display=swap');
/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'EB Garamond', serif; */
.section-cards {
  background-color: #FFF5DB;
  background-image: url(../../public/img/noise.png);
  padding: 1em;
}

.cards-container {
  background-image: url(../../public/img/noise.png);
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5em;
  justify-content: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
	grid-gap: 0px;
  height: 1200px;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Prata', serif;
  background-image: url(../../public/img/noise.png);
  color: #333;
}